.red {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: red;
}
.green {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: green;
    left: 100px;

}
.blue {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: blue;
}